:root {
  --color-red: rgb(240, 170, 181);
  --color-white: rgb(253, 248, 232);
  --color-light-blue: rgb(128, 166, 193);
  --color-dark-blue: rgb(155, 173, 196);
  --color-blue: var(--color-light-blue);
  --color-black: rgb(54, 61, 90);
  --color-orange: rgb(245, 183, 107);
  --color-green: rgb(139, 191, 152);
  --color-gray: rgb(200, 200, 200);
}
